.foodList {
    /* border: 1px solid black; */
    display: flex;
}

.food-item {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    /* align-content: space-between; */
    margin: 1vw;
    
}

.food-name {
    /* border: 1px solid blue; */
    text-align: center;
    margin-top: 2vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.food-ethnicity {
    /* border: 1px solid green; */
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 1vw;
}

.food-category {
    /* border: 1px solid orange; */
    margin-top: 0px;
    padding-left: 1vw;
}

